@charset "utf-8";

body {
	background-color:#ECF0F1;
}

.wrapper {
	width: 720px;
	margin: 3em auto;
}

.date {
	color: #FFF;
	background-color: #34495E;
	padding: 0.5em;
	font-size: 3em;
}

.meal {
	color: #FFF;
	background-color: #34495E;
	padding: 2em;
	font-size: 1.5em;
	line-height: 1.3em;
}

.breakfast, .lunch, .dinner {
	margin-bottom:15px;
}