---
title: DimiBap
---

.wrapper
	.date
		.date-inner
		
	.meal#meal
		.breakfast
			%h1 아침
			.breakfast-inner
		.lunch
			%h1 점심
			.lunch-inner
		.dinner
			%h1 저녁
			.dinner-inner
		.snack
			%h1 간식
			.snack-inner